body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.App {
  text-align: center;
  padding: 20px;
}


h1 {
  margin-bottom: 20px;
  color: #333;
}


div {
  background-color: #FFD89C;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}


p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #A2CDB0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #85A389;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: none;
}